@import "../../App.scss";
/* MODAL */
/* Background effect. It covers the entire site */
.modal {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ); /* Overlay effect: translucent background: black w/ partial opacity */
  z-index: 1; /* Overlay effect: positioned over other containers */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed; /* Fix position on the top-left corner*/
  top: 0;
  left: 0;
  overflow: auto; /* Enable scroll if needed */
  padding-top: 10vh; /* Location of the content container */
}
/* Modal content */
.modal-content {
  background-color: $secondary;
  width: 70%; /* Width in proportion to its parent container*/
  max-width: 800px; /* Max width where it stops expanding */
  height: 70%; /* Height in proportion to its parent container */
  margin: auto; /* Auto margin according to the element width */
  padding-right: 10px;
  padding-top: 0px;
  border: 1px solid gray;
  border-radius: 5px; /* Optional. Rounds container corners */
  box-shadow: 2px 2px 4px $primary;
}
/* Close button */
.close {
  color: #706f6f;
  float: right; /* Positioned to the right of the parent container whichever size it is */
  font-size: 40px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.img {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 80%;
  max-height: 80%;
  box-shadow: 2px 2px 4px $primary;
}
