$primary: #37393a;
$secondary: #e8eef2;
$text: #eb5a17;
$pairfound: #77b6ea;

h1 {
  margin: 10px;
  color: $primary;
  text-shadow: 1px 1px 4px $primary;
}
h2 {
  margin: 10px;
  color: $text;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
